* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 30px;
}

h1{
    text-align: center;
    text-decoration: underline;
}

img{
    width: 100%;
    height: auto;
    margin: 0 auto;
}

p{
    font-size: 18px;
    text-align: justify;
}

.btn{
    width: 20px;
    height: 20px;
    display: inline-block;
    border: solid grey 2px;
    border-radius: 50%;
    cursor: pointer;
}

#white{
    background-color: white;
}
#aqua{
background-color: #7fffd4;
}
#violet{
background-color: #ce9aff;
}
#black{
background-color: #000000;
}

#colorSwitcher{
    text-align: right;
}